{
    "plugins": ["prettier-plugin-go-template"],
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "go-template"
            }
        }
    ]
}
